src/main/mule/test-salesforce-endpoint.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http 
		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	
	<flow name="test-salesforce-endopoint" >
		<http:listener 
			doc:name="Listener" 
			config-ref="testlocal_HTTP_Listener_config" 
			path="testsalesforce" 
			outputMimeType="application/json">

			<http:response >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:response>
		</http:listener>
		
		<salesforce:query 
			doc:name="Query" 
			config-ref="GlobalSalesforceConfig">
			
			<salesforce:salesforce-query ><![CDATA[
				SELECT firstName__c, lastName__c, address__c, Id 
				FROM Customer__c 
				WHERE Id ='a018b00000z9s56AAA'
			]]>
 			</salesforce:salesforce-query>
		</salesforce:query>
		<logger level="INFO" doc:name="show payload" message="#[payload]"/>
	</flow>
</mule>
